.search
  .search__header
    .search__header__box1
      TODOリスト
    .search__header__box2
      .search__header__box2__name
        = current_user.name
      = link_to "/", method: :get do
        = icon('fas', 'undo-alt', class: 'search__header__box2__return')


  .search__main
    .search__main__list
      - @tasks.each do |task|
        .search__main__list__to-do
          = link_to "#{task.content}", "/tasks/#{task.id}", method: :get
          = link_to "/tasks/#{task.id}", method: :delete do
            = icon('fas', 'trash-alt', class: 'todo__main__list__to-do__delete')