.mypage
  .mypage__header
    .mypage__header__box1
      ="#{current_user.name}のマイページ"
    .mypage__header__box2
      = link_to "/", method: :get do
        = icon('fas', 'undo-alt', class: 'mypage__header__box2__return')

  .mypage__main
    .mypage__main__list
      .mypage__main__list__title
        やること一覧
      - @todos.sort_by{|usertask|((usertask.enddate - @today).to_i)}.each do |usertask|
        .mypage__main__list__to-do
          = usertask.todo
          .mypage__main__list__to-do__end
            = "終了日:#{usertask.enddate}"
          .mypage__main__list__to-do__limit
            = "残り:#{((usertask.enddate - @today).to_i)}日"
          .mypage__main__list__to-do__person
            = "担当者:#{usertask.user.name}"
          = image_tag "#{usertask.user.image}",class: "mypage__main__list__to-do__image"
          = link_to "/tasks/:task_id/todos/#{usertask.id}", method: :delete do
            = icon('fas', 'trash-alt', class: 'mypage__main__list__to-do__delete')